@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BattleshipsLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: blue;
    overflow: clip;
}

#Battleships
{
	font-size: 70px;
    color: #999999;
	margin-left: 95px;
	margin-top: -60px;
	text-decoration: underline;
	horizontal-align: center;	
}

#Credits
{
	font-size: 70px;
    color: #999999;
	margin-top: 220px;
	margin-left: 70px;
	text-decoration: underline;
	horizontal-align: center;
}

.PresentedBy
{
    margin-top: 30px;
	margin-left: 70px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
	text-decoration: underline;
}

.DevelopersLabel
{
    margin-top: 55px;
	margin-left: 115px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
}

.CreditsLabel
{
	margin-left: 0px;
    margin-top: 200px;
    margin-right:16px;
	font-size: 18px;
    color: white;
	vertical-align: top;
}

.ArtworkBy
{
    margin-top: 310px;
	margin-left: 55px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
	text-decoration: underline;
}

.ArtworkLabel
{
    margin-top: 335px;
	margin-left: 60px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
}

.HeroesBy
{
    margin-top: 395px;
	margin-left: 53px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
	text-decoration: underline;
}

.Heroes
{
    margin-top: 420px;
	margin-left: 78px;
	font-size: 18px;
    color: white;
	vertical-align: top;
	horizontal-align: center;
}