@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BattleshipsLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: blue;
    overflow: clip;
}
#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.35, 1.35;
}
.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}
.MenuRoot
{
	width: 610px;
	height: 790px;
	margin-top: 52px;
    margin-left: 74px;
    padding: 8px;
    border-radius: 16px;
    flow-children: down;
    background-color: gradient(linear, 0% 0%, 0.1% 0%, from(#111111), color-stop(0.01, #202327), color-stop(0.2, #141619ff), to(#000000dd));
}
#BattleshipsTitle
{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
	horizontal-align: center;
}


.Header
{
	font-size: 24px;
    font-weight: bold;
	margin-top: 18px;
	color: white;
	text-decoration: underline;
}
#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}
#AuthorPanel
{
	horizontal-align: Left;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	flow-children: down;

}
#AuthorPanelHolder
{
		margin-top: 230px;
		width: 450px;
		height: 360px;
		margin-left: 30px;
		background-color: gradient( linear, 0% 50%, 0% 100%, from( #42494ecc ), to( #252525ff ) );
		border-radius: 20px;
		flow-children: down;
}
#CoOp
{
	flow-children: down;
	horizontal-align: Left;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	width: 400px;
	height: 100px;
}
#battle
{
	flow-children: down;
	horizontal-align: Left;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	width: 400px;
	height: 100px;
	
}
.LearnTitle
{
	margin-top: 5px;
	margin-bottom: -35px;
	margin-left: 15px;
	vertical-align: center;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: underline;
}
.NewsTitle
{
	margin-top: 20px;
	margin-bottom: -15px;
	margin-left: 15px;
	vertical-align: center;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: underline;
}

#NewsHolder
{
	padding:5px;
	width: 660px;
	height: 320px;
	flow-children: down;
	border-radius: 8px;
	margin-top: 16px;
}

.NewsContent
{
	margin-left: 15px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

#CoOpHolder
{
	padding:5px;
	width: 450px;
	height: 370px;
	flow-children: down;
	border-radius: 15px;
	margin-top: 560px;
	margin-left: 650px;
    background-color: gradient(linear, 0% 0%, 0.1% 0%, from(#111111), color-stop(0.01, #202327), color-stop(0.2, #141619ff), to(#000000dd));
}

.CoOpTitle
{
	margin-top: 12px;
	margin-left: 15px;
	vertical-align: top;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: underline;
}

.CoOpContent
{
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

.BattleTitle
{
	margin-top: 12px;
	margin-left: 15px;
	vertical-align: top;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: underline;
}

.BattleContent
{
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

.NewTitle
{
	margin-top: 12px;
	margin-left: 15px;
	vertical-align: top;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: underline;
}

.NewContent
{
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}


.DockPanel {
    flow-children: right;

    width: 90%;
}
#TopDock {
    width:50%;
}
#middock {
    width:33%;
}

#HowToWin {
    flow-children: right;
    text-align: left;
    width: 90%;
    margin-right:20px;
}
#HowToWeapons {
    flow-children: right;
    text-align: left;
    width: 100%;
    margin-top: 5px;
	margin-right:20px;
	height:100%;
}

#WeaponsChart {
   width: 60%;
   height: 120%;
   margin-top: -50px;
}

#UpgradeChart {
	width: 65%;
	height:55%;
	horizontal-align: center;
	margin-top: -8px;
	margin-bottom: -8px;
 }
 #WeaponsChart2 {
	margin-top: -8px;
	margin-bottom: -8px;
	height:55%;
	width: 70%;
	horizontal-align: center;
  }
  
#EmpireChart
{
	width:80%;
	horizontal-align: center;
  
}

#TideChart {
	height:70%;
	width: 70%;
	horizontal-align: center;
 }

#HowToShips {
    flow-children: right;
    text-align: left;
    width: 34%;
    margin-top: 5px;
    margin-left:10px;
    margin-right:20px;
}

#ShipsChart {
	width: 60%;
	height:75%;
	vertical-align: center;
}

#HowToCombat {
    flow-children: right;
    text-align: left;
    width: 40%;
    margin-top: 5px;
    margin-left:10px;
	margin-right:20px;
	
}

#ZoomPanel
{
	width: 100%;
}
#CombatChart {
	width: 60%;
	height:100%;
	vertical-align: center;
}
#ZoomChart
{
	width: 90%;
	height:40%;
	horizontal-align: center;
}
#HowToTowers {
    flow-children: right;
    text-align: left;
    width: 60%;
    margin-top: 5px;
    margin-left:10px;
	margin-right:20px;
	height:100%;
}

#TowersChart {
	width: 40%;
	height: 70%;
	vertical-align: center;
}

.BattleshipsGameInfo
{
    width:100%;
    flow-children: down;
}

#TipsHeader
{
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.TipText
{
	margin-left: 0px;
    margin-left: 2px;
	color: white;
}

.InfoRow
{
    flow-children: left;
    text-align: left;
	width: 100%;
	margin-top: 16px;
	height: 100%;
}

.InfoCol
{
    flow-children: down;
    text-align: left;
	height: 100%;
	margin-top: 16px;
}


#LearnButtonHolder
{
	margin: 5px;
	width: 300px;
	height: 28px;
	flow-children: right;
	margin-left: 220px;
	margin-top: -80px;
}
.learn_button
{

	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/custom_gameinfo_close_psd.vtex");
	background-size: 27px;
	background-repeat: no-repeat;
	wash-color: #ffffff;
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

#pageCountLabel
{
    font-size: 18px;
    color: white;
	vertical-align: top;
	margin-top: 3px;
	horizontal-align: center;
	margin-left: -330px;
}

.learn_button2
{

	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/custom_gameinfo_open_psd.vtex");
	background-size: 27px;
	background-repeat: no-repeat;
	wash-color: #ffffff;
	margin-left: -50px;
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
Label
{
    font-size: 18px;
    color: white;
	vertical-align: top;

}

#LearnHolder
{
	padding:5px;
	width: 660px;
	height: 460px;
	flow-children: down;
	border-radius: 8px;
	margin-top: 15px;
}

#LearnInfoHolder
{
	margin-top: 20px;
	width: 100%;
	height: 80%;
	flow-children: right;
}

.innerLearn
{
	padding:8px;
	margin-top: -20px;
	flow-children: down;
	width: 0%;
	height: 100%;
	transition: width 0.3s ease-in-out 0.0s, perspective-origin 0.0s ease-in-out 0.0s;

}
#learn1
{
	padding:8px;
	margin-top: -20px;
	flow-children: down;
	width: 100%;
	height: 100%;
	transition: width 0.3s ease-in-out 0.0s, perspective-origin 0.0s ease-in-out 0.0s;
}
#b3
{
	horizontal-align: center;
	text-align: center;
}
.shop_btn_text
{
	horizontal-align: center;
	text-align: center;
}

#pageCountLabel
{
	horizontal-align: center;
	text-align: center;
	width: 70%;
}