.BarebonesBaseHud
{
    width: 100%;
    height: 100%;
}

.BarebonesTopNotifications
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.BarebonesBottomNotifications
{
    width: 30%;
    height: 100%;
    flow-children: down;
}

.NotificationLine
{
    margin-top: 15px;
    flow-children: right;
    horizontal-align: center;
    vertical-align: middle;
    animation-name: scalein;
    animation-duration: .2s;
    animation-timing-function: linear;
}

.NotificationLineBot
{
    margin-top: 15px;
    flow-children: right;
    vertical-align: middle;
	horizontal-align: left;
}

#TopNotifications
{
    flow-children: down;
    horizontal-align: center;
    width:100%;
    opacity: 1;
    margin-top: 124px;
    visibility: visible;
    border: 0px solid blue;
}

#BottomNotifications
{
    text-align: left;
    flow-children: down;
    horizontal-align: left;
    vertical-align: bottom;
    width: 100%;
    opacity: 1;
    margin-bottom: 275px;
	margin-left: 30px;
    visibility: visible;
}

.NotificationMessage
{
    color: white;
    vertical-align: center;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.HeroImage
{
    vertical-align: center;
    horizontal-align: center;
}

@keyframes 'scalein' {
  from {
    opacity:0;
    transform: scaleX(.8) scaleY(.8);
  }

  to {
    opacity:1;
    transform: scaleX(1) scaleY(1);
  }
}