.GageHolder
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	height: 700px;	
width: 800px;
	 z-index:5;	
}


.custom_shop_holder
{
 width: 100%;
    height: 100%;
}
#Tree
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -210px;
	width: 220px;
	height: 417px;	
	
	 z-index:20;	
}

#gage_bkg
{
	 
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	width: 700px;
	height: 550px;
	margin-bottom: -270px;
	
	 z-index:6;	
}

#team_stocking
{
	visibility: visible;
	horizontal-align: right;
	vertical-align: bottom;
	width: 70px;
	height: 70px;	
	margin-bottom: 10px;
	 z-index:6;	
}

#team_mitten
{
	 
	visibility: visible;
	horizontal-align: left;
	vertical-align: bottom;
	width: 70px;
	height: 70px;	
	margin-bottom: 10px;
	 z-index:6;	
}


.MinimapFrameHolder
{
visibility: visible;
vertical-align: bottom;
height: 100%;	
width: 100%;
margin-bottom: -75px;
margin-left: -75px;
}


#MinimapFrame
{
	visibility: visible;
	vertical-align: bottom;
	height: 435px;
	width: 405px;
}

#TimerHolder
{
	visibility: visible;
vertical-align: top;
	horizontal-align: center;
height: 150px;	
width: 200px;

}

#TimerFrame
{
	visibility: visible;
vertical-align: top;
	horizontal-align: center;
height: 10%;	
width: 13%;
margin-top: 0px;
z-index:6;	
}


.Timer
{
	margin:10px;
	vertical-align: top;
	 horizontal-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 2px #ff0000;
	 font-size: 45px;
	font-family: monospace;
	    font-weight: bold;
}