@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BattleshipsLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: blue;
    overflow: clip;
}

#seq
{
	height: 100%;
	 width: 100%;
	 
	 
}

#seq_bg
{
width:  100%;
height: 180%;
}

#logoholder
{
	
	 width: 28%;
    height: 20%;

}
#logo
{
	
	width: 100%;
	height: 100%;
	margin-left: 50px;
	margin-top: 20px;
}
/**#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
	text-shadow: 4px 4px 4px #ff0000;
}**/

/**#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}



/**#TitlePanel
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 20px;
	flow-children: right;
	font-weight: bold;
	font-size: 25px;
}**/



#AuthorPanelHolder
{
		margin-top: 800px;
		width: 720px;
		height: 95px;
		margin-left: 60px;
		border-radius: 20px;
		//border: 1px solid #0000ff;
		//box-shadow: fill #ffffff 2px 2px 2px 0px; // outer
		//box-shadow: inset #0000ff 0px 0px 3px 3px; // inner
		text-align: left;
		flow-children: down;
			text-align: center;
		padding: 20px;

}
#AuthorPanel
{
margin-top: 800px;
		width: 720px;
		height: 95px;
		margin-left: 60px;
	border-radius: 20px;
	background-color: #FFFFFFFF;
	opacity: .4;
	box-shadow: fill #ffffff80 7px 7px 7px 0px; // outer
	flow-children: down;
	text-align: right;


}

#InstructionPanel
{

margin-top: 420px;
		width: 720px;
		height: 350px;
		margin-left: 60px;
	border-radius: 20px;
	background-color: #FFFFFFFF;
	opacity: .4;
	box-shadow: fill #ffffff80 7px 7px 7px 0px; // outer
	flow-children: down;
	text-align: center;
}
#InstructionPanelHolder
{
		margin-top: 420px;
		width: 720px;
		height: 350px;
		margin-left: 60px;
		border-radius: 20px;
		//border: 1px solid #0000ff;
		//box-shadow: fill #ffffff 2px 2px 2px 0px; // outer
		//box-shadow: inset #0000ff 0px 0px 3px 3px; // inner
		text-align: center;
		flow-children: down;
			text-align: center;
			padding: 20px;
}




#OverthrowIcon
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	margin-right: 15px;
}

/**#BattleshipsTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-family: "Dejavu Sans";
	font-size: 65px;
	color: #cccccc;
	text-shadow: 4px 4px 4px #ff0000;
}**/


.AuthorTitle
{
	font-weight: bolder;
	vertical-align: center;
	horizontal-align: left;
	
	color: #000000;
	z-index: 6;
	font-size: 22px;
	font-family: Goudy Trajan medium;
}

.Instructions
{
	font-weight: bold;
	vertical-align: top;
	horizontal-align: center;
		font-size: 22px;
	font-family: Goudy Trajan medium;

	color: #000000;
	z-index: 6;
}


