.GageHolder
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	height: 300px;	
width: 450px;
	 z-index:5;	
}


.custom_shop_holder
{
 width: 100%;
    height: 100%;
}
#Tree
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -210px;
	width: 75px;
	height: 410px;	
	
	 z-index:20;	
}

#gage_bkg
{
	 
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	width: 350px;
	height: 200px;	
	
	 z-index:6;	
}

#team_stocking
{
	visibility: visible;
	horizontal-align: right;
	vertical-align: bottom;
	width: 70px;
	height: 70px;	
	margin-bottom: 10px;
	 z-index:6;	
}

#team_mitten
{
	 
	visibility: visible;
	horizontal-align: left;
	vertical-align: bottom;
	width: 70px;
	height: 70px;	
	margin-bottom: 10px;
	 z-index:6;	
}


.MinimapFrameHolder
{
visibility: visible;
vertical-align: bottom;
height: 100%;	
width: 100%;
margin-bottom: -75px;
margin-left: -75px;
}


#MinimapFrame
{
	visibility: visible;
	vertical-align: bottom;
	height: 435px;
	width: 405px;
}

#TimerHolder
{
	visibility: visible;
vertical-align: bottom;
	horizontal-align: right;
height: 150px;	
width: 200px;
margin-bottom: -80px;
background-color: gradient( linear, 0% 0%, 100% 100%, from( #FFFFFF ), color-stop( 0.1, #990000 ), color-stop( 0.2, #FFFFFF ), color-stop( 0.3, #990000 ), color-stop( 0.4, #FFFFFF ), color-stop( 0.5, #990000 ), color-stop( 0.6, #FFFFFF ), color-stop( 0.7, #990000 ), color-stop( 0.8, #FFFFFF ), color-stop( 0.9, #990000 ), to( #FFFFFF ) );
}

#TimerFrame
{
	visibility: visible;
vertical-align: bottom;
	horizontal-align: right;
height: 250px;	
width: 250px;
margin-bottom: -120px;
transform: scaleX(-1);
z-index:6;	
}


.Timer
{
	margin:10px;
	vertical-align: top;
	 horizontal-align: left;
	color: #008000;
	text-shadow: 2px 2px 2px #ffff00;
	 font-size: 60px;
	font-family: monospace;
	    font-weight: bold;
}