#GageHolder
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	height: 30%;	
	width: 30%;
	 z-index:5;	

}


.custom_shop_holder
{
 width: 100%;
    height: 100%;
}
.WinOrLoseHolder
{
	height: 100px;	
	 width: 100%;

}
#WinOrLose
{
	margin-top: 40px;
	vertical-align: bottom;
		 font-size: 65px;
	    font-weight: bold;
		height: 100px;	
			 horizontal-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000055;
}
#Tree
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -210px;
	width: 220px;
	height: 417px;	
	
	 z-index:20;	
}

#ScoreBoardFinalholder
{
	visibility: collapse;
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
	height: 450px;	
	width: 400px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#456687cc ), to( #02327f10 ) );
	border-radius: 10px;
}



.player
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.Scoreboardfianal
{
	border-radius: 10px;
	border: 4px solid #000000;
	margin: 20px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#bad4ff ), to( #02327f ) );
		height: 100%;	
	width: 100%;
}
.labelHolderfinal
{
	margin: 5px;
	flow-children: down;
	horizontal-align: center;
	width: 100%;
}

#gage_bkg
{
	 
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	height: 500px;	
	width: 600px;
	margin-bottom: -270px;
	
	
	 z-index:6;	
}

#teamholder
{
	vertical-align: top;
	horizontal-align: center;
	visibility: visible;
	margin-top: 850px;
	height: fit-children;
	width: 35%;
	z-index:8;
	transform: translate3d( 0px, 0px, 0px );
}
.labelHolder
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
}
.labelHolder2
{
	horizontal-align: right;
	flow-children: right;
}
#team_stocking
{
	visibility: visible;
	horizontal-align: right;
	vertical-align: bottom;
	width: 200px;
	height: 200px;		

}
#team_mitten
{
	 
	visibility: visible;
	horizontal-align: left;
	vertical-align: bottom;
	width: 200px;
	height: 200px;	


}
#mittenpic
{
	z-index: 1;
}
#stockingpic
{
	z-index: 1;
}


.MinimapFrameHolder
{
visibility: visible;
vertical-align: bottom;
height: 100%;	
width: 100%;
margin-bottom: -75px;
margin-left: -75px;
}


#MinimapFrame
{
	visibility: visible;
	vertical-align: bottom;
	height: 435px;
	width: 405px;
}

#TimerHolder
{
	visibility: visible;
vertical-align: top;
	horizontal-align: center;
height: 150px;	
width: 200px;

}

#TimerFrame
{
	visibility: visible;
vertical-align: top;
	horizontal-align: center;
height: 10%;	
width: 13%;
margin-top: 0px;
z-index:6;	
}

.Splatholder
{
	width: 100%;
	height: 100%;
	z-index:0;
}
#Splat
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
}

#mit
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}
#sto
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.Timer
{
	margin:10px;
	vertical-align: top;
	 horizontal-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 2px #ff0000;
	 font-size: 45px;
	font-family: monospace;
	    font-weight: bold;
}
#GoodPoints
{
	z-index:40;
	font-size: 55;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
	horizontal-align: center;
	margin-top: -45px;
}
#BadPoints
{
	z-index:40;
	font-size: 55;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
	horizontal-align: center;
	margin-top: -45px;
}


#ScoresignBad
{
	margin-top: -105px;
	height: 100%;
	z-index: 0;
}


#ScoresignGood
{
	margin-top: -105px;
	height: 100%;
	z-index: 0;
}
.goodTitle
{
	flow-children: right;
	width: 100%;
	font-size: 30;
	text-shadow: 2px 2px 2px #ff0000;
	opacity: 1;

	
}
.scoreLeftName
{
width: 25%;
font-size: 22;
text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
}
.scoreLeftPoints
{
	font-size: 22;
	horizontal-align: left;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
z-index: 20;
}
.scoreLeftChain
{
	font-size: 22;
	horizontal-align: center;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
}
.scoreLeftKills
{
	font-size: 22;
horizontal-align: right;
width: 25%;
text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
}

.goodplayer1
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;
	margin-top: -10px;


}
.goodplayer2
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.goodplayer3
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.goodplayer4
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.goodplayer5
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}

.scoreLN
{
	width: 32%;
	font-size: 22;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
}
.scoreLP
{
	width: 25%;
	font-size: 22;
	horizontal-align: right;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
	}
.scoreLC
{
	font-size: 22;
	width: 25%;
	horizontal-align: right;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
	
}
.scoreLK
{
	font-size: 22;
	horizontal-align: right;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;

}
.badTitle
{
	flow-children: right;
	width: 100%;
	font-size: 30;
	text-shadow: 2px 2px 2px #ff0000;
	opacity: 1;
	
	
}
.scoreRightName
{
width: 25%;
font-size: 22;
text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
margin: 1px;
}
.scoreRightPoints
{
	font-size: 22;
	horizontal-align: Right;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
margin: 1px;
}
.scoreRightChain
{
	font-size: 22;
	horizontal-align: center;
	width: 25%;

	text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
margin: 1px;
}
.scoreRightKills
{
	font-size: 22;
	horizontal-align: center;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
color: #ffffff;
opacity: 1;
margin: 1px;
}

.badplayer1
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.badplayer2
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;



}
.badplayer3
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}
.badplayer4
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;

}
.badplayer5
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin: 1px;


}




.scoreRN
{
	width: 32%;
	font-size: 22;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
	}
.scoreRP
{
	width: 25%;
	font-size: 22;
	horizontal-align: right;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
}
.scoreRC
{
	font-size: 22;
	width: 25%;
	horizontal-align: right;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;
	
}
.scoreRK
{
	font-size: 22;
	horizontal-align: right;
	width: 25%;
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
	margin: 1px;
	height: 22px;

}
.scoreRight
{
	margin-right: 220px;
	margin-top: 10px;
	width: 400px;
	height: 20px;	
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	z-index:10;	
	text-shadow: 1px 1px 1px #000000;
}

#AbilityHolder
{
	
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: -150px;
	margin-bottom: -50px;
	height: 44%;
	width: 30%;
}
#presentclosed
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: -50px;
	height: 100%;	
	width: 95%;
	opacity: 1;
	z-index:6;	
}
#presentopen
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: -50px;
	height: 100%;	
	width: 95%;
	z-index:6;
	opacity: 0;
}

#rocketskate
{
	visibility: visible;
vertical-align: bottom;
	horizontal-align: middle;
	height: 45%;
	width: 45%;
	margin-bottom: 110px;
	margin-right: -50px;
	opacity: 0;
	z-index: 6;
}
#snowball
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: middle;
	height: 45%;
	width: 45%;
	margin-bottom: 105px;
	margin-right: -5px;
	opacity: 0;
	z-index:6;
}

#leap
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: middle;
	height: 45%;
	width: 45%;
	margin-bottom: 110px;
	margin-right: -45px;
	opacity: 0;
	z-index:6;
}


#magnet
{
	visibility: visible;
vertical-align: bottom;
	horizontal-align: middle;
	height: 45%;
	width: 45%;
	margin-bottom: 100px;
		margin-right: -5px;

z-index:6;
opacity: 0;
}
#bell
{

	visibility: collapse;
	horizontal-align: right;
	height: 110px;
	width: 110px;
}
#bellgrey
{
	visibility: visible;
	horizontal-align: right;
	height: 110px;
	width: 110px;
}
.BellHolder
{
	margin-top: 75px;
	horizontal-align: right;
	height: 110px;
	width: 110px;
	font-size: 50px;
}
#belltooltip
{

	margin-top: 185px;
	horizontal-align: right;
	height: fit-children;
	width: 200px;
	border: 4px solid #000000;
	border-radius: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#bad4ff ), to( #02327f ) );
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	opacity: 0;
}
#bellhover
{
	margin: 3px;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 22;
}
#abilitytooltip
{
	opacity: 0;
	margin-bottom: 310px;
	vertical-align: bottom;
	horizontal-align: right;
	height: fit-children;
	width: 300px;
	border: 4px solid #000000;
	border-radius: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#bad4ff ), to( #02327f ) );
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	flow-children: down;
}
#abilityhover
{
	margin: 8px;
	text-align: left;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 22px;
	vertical-align: center;
}


.ScorebooardHolder1
{
width: fit-children;
height: fit-children;
}

#ScoreFrame1
{
	height: 35px;
	margin-top: 870px;
	margin-left: 240px;
}
#ScoreboardBackHolder1
{
	
	width: 63%;
	height: 100%;
	vertical-align: bottom;
	margin-bottom:-850px;
	horizontal-align: center;
	z-index: 100;
}
#ScoreboardBack1
{
	horizontal-align: left;
	opacity: 1;
	width: 25%;
	height: 95%;
	vertical-align: bottom;
}
#ScoreboardBack2
{

	opacity: 1;
	width: 25%;
	height: 95%;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: -30px;
	
}
.ScorebooardHolder2
{
width: fit-children;
height: fit-children;
}


#SBToggle
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 200px;
	height: fit-children;
	width: fit-children;
	border: 4px solid #000000;
	border-radius: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#bad4ff ), to( #02327f ) );
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	opacity: 1;
	z-index: 30;
}
#SBText
{
		margin: 3px;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 22;
}
#BigHolder
{
		width: 100%;
	height:  100%;
}

.ScoreboardBackHolder2
{
	visibility: visible;
	width: 1100px;
	height: 200px;
	
	margin-left: 900px;
	margin-top: 917px;
}
#ScoreboardBackHolder3
{
	visibility: visible;
	opacity: .15;
	width: 100%;
	height: 200px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#bad4ff ), to( #02327f ) );
	vertical-align: top;
	margin-left: 255px;
	margin-top: 905px;
	z-index: -10;
}
.droppedDown
{
	    animation-name: DropDown;
    animation-duration: .5s;
    animation-timing-function: linear;
	  transform: translate3d( 0px, 200px, 0px );
}
.poppedUp
{
	    animation-name: PopUp;
    animation-duration: .5s;
    animation-timing-function: linear;
	  transform: translate3d( 0px, 0px, 0px );
}

@keyframes 'DropDown' {
  from {
    transform: translate3d( 0px, 0px, 0px );
  }

  to {
    transform: translate3d( 0px, 200px, 0px );
  }
}

@keyframes 'PopUp' {
  from {
	  transform: translate3d( 0px, 200px, 0px );
    
  }

  to {
     transform: translate3d( 0px, 0px, 0px );
  }
}

