.OverthrowGameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 22px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #ff0000;
    font-size: 64px;
    text-shadow: 2px 2px 3px 3.0 #cccccc;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
	width: 85%;
}
#HowToPlay
{
	width: 85%;
}
#PointsHolder
{
	visibility: visible;
}
#Abilities
{
	width: 85%;
}
#Points
{
	width: 85%;
}

.Header
{
	font-size: 30px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
	color: #2bad61;
}
#Bauble
{
	width: 100px;
	height: 100px;
}
#CandyCane
{
	width: 100px;
	height: 100px;
	margin-top: 100px;
}
#Star
{
	width: 100px;
	height: 100px;
	margin-top: 200px;
}

#BaublePoints
{
	margin-top: 40px;
	margin-left: 120px;
}
#CandyCanePoints
{
	margin-top: 135px;
	margin-left: 120px;
}
#StarPoints
{
	margin-top: 235px;
	margin-left: 120px;
}
#PointsHolder
{
	Height: 320px;
}
#AbilitiesHolder
{
	Height: 320px;
	width: 85%;
}
#Skate
{
	width: 100px;
	height: 100px;
}

#Magnet
{
	width: 100px;
	height: 100px;
	margin-top: 115px;
}
#Snowball
{
	width: 100px;
	height: 100px;
	margin-top: 235px;
}
	
#SkateInfo
{
	margin-top: 45px;
	margin-left: 120px;
}
#MagnetInfo
{
	margin-top: 155px;
	margin-left: 120px;
}
#SnowballInfo
{
	margin-top: 265px;
	margin-left: 120px;
}
#ObjectiveHeader
{
	margin-top: 18px;
}








